<head>
  <title>Petinder - Dashboard</title>
  <style>
    html {
      overflow: hidden;
      height: 100%;
    }
  </style>
</head>
<%- include('./components/includes/navbar.ejs')%>
<main class="home-page">
  <div class="container my-5">
    <div class="row">
      <div class="col-3">
        <div class="box-section p-4">
          <div class="explore-links">
            <a href="/home" class="d-flex align-items-center"
              ><i class="fa-solid fa-wand-magic-sparkles fa-2x me-2"></i
              ><strong>Explore</strong></a
            >
            <a href="/feed/friends" class="d-flex align-items-center"
              ><i class="fa-solid fa-user fa-2x me-2"></i
              ><strong>Friends Feed</strong></a
            >
          </div>
        </div>
        <div class="footer p-2">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
          <p>Petinder &copy; 2022</p>
        </div>
      </div>
      <div class="col-6">
        <%- include('./components/home/newPost.ejs') %>
        <div class="box-section-activity text-center">
          <div class="timeline-list">
            <% posts.forEach(function(post){ %>
            <div class="timeline-item p-2 mb-3">
              <div class="timeline-item-header">
                <img
                  class="timeline-profile-icon"
                  src="/images/uploaded/profile/<%= post.userProfileImage %>"
                />
                <div class="timeline-header">
                  <a href="/profile/<%= post.postUserId %>"
                    ><p class="timeline-profile-username">
                      <%= post.postUserId %>
                    </p></a
                  >
                  <p class="timeline-profile-location">
                    <%= post.userCity %>, <%= post.userCountry %>
                  </p>
                </div>
              </div>
              <img
                class="timeline-post-img"
                src="/images/uploaded/posts/<%= post.postImage %>"
              />
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-section p-4">
          <div class="d-flex justify-content-between align-items-baseline">
            <p class="section-title">Suggested For You</p>
            <a href="#"><span class="section-title-link">See All</span></a>
          </div>
          <div class="suggestion-list">
            <div class="suggestion-item d-flex">
              <img
                class="suggestion-profile-icon"
                src="/images/uploaded/profile/default.png"
              />
              <div>
                <p class="suggestion-item-username">catmaster21</p>
                <span class="suggestion-item-user-description"
                  >Followed by max12</span
                >
              </div>
            </div>
            <div class="suggestion-item d-flex">
              <img
                class="suggestion-profile-icon"
                src="/images/uploaded/profile/default.png"
              />
              <div>
                <p class="suggestion-item-username">catmaster21</p>
                <span class="suggestion-item-user-description"
                  >Followed by max12</span
                >
              </div>
            </div>
            <div class="suggestion-item d-flex">
              <img
                class="suggestion-profile-icon"
                src="/images/uploaded/profile/default.png"
              />
              <div>
                <p class="suggestion-item-username">catmaster21</p>
                <span class="suggestion-item-user-description"
                  >Followed by max12</span
                >
              </div>
            </div>
            <div class="suggestion-item d-flex">
              <img
                class="suggestion-profile-icon"
                src="/images/uploaded/profile/default.png"
              />
              <div>
                <p class="suggestion-item-username">catmaster21</p>
                <span class="suggestion-item-user-description"
                  >Followed by max12</span
                >
              </div>
            </div>
            <div class="suggestion-item d-flex">
              <img
                class="suggestion-profile-icon"
                src="/images/uploaded/profile/default.png"
              />
              <div>
                <p class="suggestion-item-username">catmaster21</p>
                <span class="suggestion-item-user-description"
                  >Followed by max12</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
